{% extends 'base/base.html' %}

{%block content%}    
    <div class="row">
        <div class="col-12">
            <div class="mb-2 mt-2 float-right">
                    <button type="button" class="formcsv btn btn-outline-primary" data-toggle="modal" data-target="#uploadFile">
                            Cargar desde CSV
                    </button>
                    <!--<a href="/archivo/nuevo/" class="btn btn-outline-primary" role="button" aria-pressed="true">Cargar desde CSV</a>-->
            </div>    
            <div class="mb-2 mt-2 mr-3 float-right">
                    <a href="media/templates/proquest_template.csv" class="btn btn-outline-primary" role="button" aria-pressed="true">Template CSV</a>
            </div> 
            <div class="mb-2 mt-2 mr-3 float-right">
                    <a href="/archivo/single" class="btn btn-outline-primary" role="button" aria-pressed="true">Nuevo</a>
            </div> 
        </div>
    </div>
    <div class="accordion" id='accordion'>
        <div class="card border-info">
            <div class="card-header border-info" style="cursor:pointer;" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <h5 class="mb-0">
                    Registros Agregados
                </h5>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead class="thead">
                                <tr class="bg-primary text-white">
                                    <th>
                                        Titulo
                                    </th>
                                    <th>
                                        Autor
                                    </th>
                                    <th>
                                        Institución
                                    </th>
                                    <th>
                                        Binary
                                    </th>
                                    <th>
                                        Opciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if registros %}
                                {% for registro in registros %}
                                <tr id='{{ registro.id }}' style="cursor:pointer;">
                                    <td>
                                        {{ registro.surname }}, {{ registro.fname }}
                                    </td>
                                    <td>
                                        {{ registro.title }}
                                    </td>
                                    <td>
                                        {{ registro.inst_name }}
                                    </td>
                                    <td>
                                        {{ registro.binary }}
                                    </td>
                                    <td>
                                        <a  href="zip/{{ registro.id }}" class="btn btn-link">Descargar ZIP</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                    <div class="alert alert-info">No existen registros
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                            </tbody>        
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-info">
            <div class="card-header border-info" style="cursor:pointer;" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <h5 class="mb-0">
                    Archivos Agregados
                </h5>
            </div>
        
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead class="thead">
                                <tr class="bg-primary text-white">
                                    <th>
                                        Nombre del Archivo
                                    </th>
                                    <th>
                                        Descripción del archivo
                                    </th>
                                    <th>
                                        Archivo
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if archivos %}
                                {% for archivo in archivos %}
                                <tr>
                                    <td>
                                        {{ archivo.nombre }}
                                    </td>
                                    <td>
                                        {{ archivo.descripcion }}
                                    </td>
                                    <td>
                                        <a href="{{ archivo.archivo.url }}"  class="btn btn-secondary px-4 py-2 btn-sm">Descargar CSV</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                    <div class="alert alert-info">No existen registros
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                            </tbody>        
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
        
            $(".formcsv").modalForm({
                formURL: "{% url 'archivo:nuevo' %}"
            });
        
        }); 

        $('.table > tbody > tr').click(function() {
            window.location = 'edit/' + this.id;
        });      
    </script>
{% endblock %}